* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

.restaurants {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: blue;
}

h2 {
  font-size: 2rem;
  width: 100vw;
}

.filters-cards {
  width: 80vw;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: red;
}

.filter {
  padding: 1rem;
  border: solid;
  border-radius: .5rem;
  background-color: chartreuse;
}

.yellow-background {
  background-color: yellow;
}

.restaurants-cards {
  width: 80vw;
  margin-top: 1rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  background-color: blueviolet;
  border: solid;
}

.restaurant-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.restaurant-card-img {
  background-size: cover;
  background-position: center;
  height: 10rem;
  /* width: 10rem; */
  width: 100%;
  border: solid;
}

.restaurant-card-title {
  font-size: 1.5rem;
  color:black;
}

.restaurant-card-description {
  color: black;
}